body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 32rem;
    margin: 0 auto;
}

nav {
    display: flex;
}

nav > * + * {
    margin-left: 1rem;
}

nav a {
    display: block;
}

h2 {
    display: flex;
    align-items: center;
}

.todo-item form {
    display: flex;
    align-items: center;
}

.add-form {
    display: flex;
}

.add-form input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
}
